@import "~/src/scss/index.scss";

$widthLeftMenu: 200px;

.admin-layout {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  background-color: $background-grey;

  &__left {
    background-color: $background-dark;
    width: $widthLeftMenu;

    .logo {
      height: 30px;
      width: 100%;
      margin: 10px 0;
    }
  }

  &__right {
    width: calc(100% - $widthLeftMenu);

    &-pre{
      position: absolute;
      color: white;
      align-items: center;
      margin-top: 30px;
      margin-left: 150px;
      font-size: 1rem; /* Tamaño grande de fuente para mayor visibilidad */
      font-weight: bold; /* Negrita para destacar */
    //color: #333; /* Color de texto oscuro para contraste */
    //background-color: #fff; /* Fondo blanco para mejor visibilidad */
    //padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efecto de profundidad */
    }

    &-header {
      background-color: $background-dark;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 10px;
    }

    &-content {
      position: relative;
      margin: 20px;
    }
  }
}